<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hybrid Energy Forecasting Data API</title>
    <style>
        body {
            font-family: Verdana, sans-serif;
            margin: 0;
            box-sizing: border-box;
            padding: 3rem;
            text-align: center;
        }
        .footer {
            padding-top: 3em;
            padding-bottom: 3em;
        }
    </style>
</head>
<body>
<div >
    <main>
        <h2>Welcome to Solar Energy API</h2>
    </main>
</div>

<div>
    <img src="/img/energyApiCover.png" alt="Solar Energy" style="width:100%;">
</div>

<footer class="footer">
    <div>
        <span>Dataset source: Jethro Browell, Sebastian Haglund, Henrik Kälvegren, Edoardo Simioni, Ricardo Bessa, Yi Wang, October 11, 2023, "Hybrid Energy Forecasting and Trading Competition", IEEE Dataport, doi: https://dx.doi.org/10.21227/5hn0-8091.s </span>
        <hr>
        <h6>AlbertGregl &copy; <script>document.write( new Date().getFullYear() );</script>
        </h6>
    </div>
</footer>
</body>
</html>